parameters:
    level: 1
    paths:
        - app
        - config
        - database
        - routes
    excludePaths:
        - bootstrap/cache
        - storage
        - vendor
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder#'
        - '#Unsafe usage of new static#'
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
